html {
	background-color: #881122;
}

* {
	font-family: 'Baloo', cursive;
}

.baloo {
	font-family: 'Baloo', cursive;
}

.pacifico {
	font-family: 'Pacifico', cursive;
}

table {
	border: 1px solid black;
	margin: 20px 0;
}

th, td {
	border: 1px solid black;
	background-color: #FF594F;
	text-align: center;
}

h1, h2, h3, h4, li, p {
	font-family: 'Baloo', cursive;
	margin: 0;
}

h1 {
	font-size: 40px;
}

h2 {
	font-size: 30px;
}

input {
	display: block;
}

#errors {
	color: #FFC90E;
}

#logo-link {
	text-decoration: none;
}

#logo {
	width: 627px;
	height: 193px;
	margin: 50px auto;
	background-repeat: none;
	background-image: url('billboard.png');
}

#title {
	padding-top: 19px;
	font-size: 60px;
	text-align: center;
	color: black;
}

#tagline {
	padding-top: 0px;
	text-align: center;
	color: black;
}

#container {
	position: relative;
	margin: 20px 80px;
}

#frame {
	display: block;
	background-color: #ed1c24;
  height: 100%;
	border-bottom: 5px solid black;
}

.frame-element {
	position: absolute;
	width: 71px;
	background-color: #881122;
}

#box-top-left {
	top: 0px;
	left: 0px;
	height: 90px;
	z-index: 2;
	background-image: url('box-top-left2.png');
}

#box-top-right {
	top: 0px;
	right: 0px;
	height: 90px;
	z-index: 2;
	background-image: url('box-top-right2.png');
}

#box-mid-left {
	top: 0px;
	left: 0px;
	height: 100%;
	z-index: 1;
	background-repeat: repeat;
	background-image: url('box-mid-left.png');
}

#box-mid-right {
	top: 0px;
	right: 0px;
	height: 100%;
	z-index: 1;
	background-repeat: repeat;
	background-image: url('box-mid-right.png');
}

#box-bottom-left {
	bottom: 0px;
	left: 0px;
	height: 71px;
	z-index: 1;
	background-image: url('box-bottom-left.png');
}

#box-bottom-right {
	bottom: 0px;
	right: 0px;
	height: 71px;
	z-index: 1;
	background-image: url('box-bottom-right.png');
}

#popcorn {
	top: 0px;
	left: 0px;
	width: 100%;
	height: 90px;
	z-index: 2;
	background-image: url('popcorn.png');
	background-repeat: repeat-x;
	background-position: center;
}

#content {
	padding: 90px 0 0 90px;
	font-family: 'Pacifico', cursive;
}

nav {
	width: auto;
	text-align: center;
	font-size: 40px;
}

nav > a {
	margin: 0px 40px;
}

.field_with_errors {
	// display: inline-block;
}

#submit_btn {
	margin: 20px 0;
}