<h1 class="baloo">Thank you for your $<%= @sale.movie.cost %> purchase, <%= @sale.customer.name %>!</h1>

<h3 class="">A ticket has been emailed to <%= @sale.customer.email %></h3>

<%= render 'showtimes/showtime' %>