<!DOCTYPE html>
<html>
  <head>
    <title>Popcorn Cinema - Where Everything Is A Little Corny</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="container">
      <div id="content">

        <div id="popcorn"></div>
        <div id="box-top-left"></div>
        <div id="box-top-right"></div>
        <div id="box-mid-left"></div>
        <div id="box-mid-right"></div>
        <div id="box-bottom-left"></div>
        <div id="box-bottom-right"></div>

        <% 66.times do %>
          <div class="cmon">hi</div>
        <% end %>
        <%= yield %>

      </div>
    </div>
  </body>
</html>
